header {
	align-items: center;
	background-color: var(--ffffff);
	display: flex;
	height: 64px;
	width: 100%;
	padding: 7px 20px;
	border-bottom: 1px solid #e5e5e5;
}

.search-box {
	background-color: var(--f5f5f5);
	border: 1px solid var(--cccccc);
	border-radius: 4px;
	margin-left: 24px;
	width: 100%;
	max-width: 340px;
	padding: 8px 16px;
	background-image: url(../assets/magnifying-glass-solid.svg);
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.search-box::placeholder {
	color: #757575;
}

#searchWant {
	max-width: 420px;
}

.header-menu {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-top: 4px;
	min-width: 332px;
}

.header-menu-item {
	margin-left: 16px;
}

.header-menu-item.first {
	margin-left: 0px;
}

.header-menu-item a {
	color: var(--black);
}

.sell-btn {
	align-items: flex-start;
	background-color: var(--ff333f);
	border-radius: 4px;
	display: flex;
	height: 36px;
	margin-left: 16px;
	padding: 7px 16px;
	color: var(--ffffff);
}