.results {
	align-items: center;
	background-color: var(--ffffff);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.header {
	align-items: center;
	background-color: var(--ffffff);
	border-width: 0 0 1px 0 !important;
	display: flex;
	height: 64px;
	left: 1px;
	width: 100%;
	padding: 7px 19.9px;
}

.search-box {
	align-items: flex-start;
	background-color: var(--f5f5f5);
	border: 1px solid var(--cccccc);
	border-radius: 4px;
	display: flex;
	height: 36px;
	justify-content: flex-end;
	margin-left: 24px;
	max-width: 526px;
	width: 100%;
	padding: 8px 16px;
	background-image: url(../assets/magnifying-glass-solid.svg);
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.search-box::placeholder {
	color: #757575;
}

.text-6 {
	align-self: center;
	color: var(--x757575);
	font-weight: 400;
	margin-bottom: 2.0px;
	min-height: 18px;
	min-width: 111px;
}

.header-menu {
	align-items: center;
	display: flex;
	margin-left: auto;
	padding-left: 24px;
	margin-top: 4.0px;
	min-width: 332px;
}

.text-2-1 {
	color: var(--black);
	font-weight: 400;
	line-height: 19.6px;
	margin-bottom: 2.0px;
	min-height: 20px;
	min-width: 56px;
}

.text-3-1 {
	color: var(--black);
	font-weight: 400;
	line-height: 19.6px;
	margin-bottom: 2.0px;
	margin-left: 16px;
	min-height: 20px;
	min-width: 98px;
	white-space: nowrap;
}

.text-4-1 {
	color: var(--black);
	font-weight: 400;
	line-height: 19.6px;
	margin-bottom: 2.0px;
	margin-left: 16px;
	min-height: 20px;
	min-width: 70px;
	white-space: nowrap;
}

.view {
	align-items: flex-start;
	background-color: var(--ff333f);
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	height: 36px;
	margin-left: 16px;
	min-width: 60px;
	padding: 7px 16px;
}

.text-5 {
	color: var(--ffffff);
	font-weight: 700;
	line-height: 19.6px;
	min-height: 20px;
	white-space: nowrap;
}

.flex-row {
	align-items: flex-start;
	display: flex;
	height: 100%;
	margin: 0 auto;
	margin-top: 39px;
	margin-bottom: 64px;
	max-width: 1213px;
	width: 100%;
}

.flex-col {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 182px;
	width: 270px;
}

.text-container {
	align-items: flex-start;
	display: flex;
	height: 20px;
	margin-left: 1px;
	min-width: 252px;
}

.text-7 {
	color: var(--x666666);
	font-weight: 700;
	line-height: 19.6px;
	min-height: 20px;
	min-width: 56px;
	white-space: nowrap;
}

.text-11 {
	color: #0073cc;
	font-weight: 400;
	line-height: 19.6px;
	margin-left: 154px;
	min-height: 20px;
	white-space: nowrap;
}

.filter-item-container {
	height: 146px;
	margin-top: 16px;
	position: relative;
	width: 270px;
}

.filter-item {
	align-items: flex-start;
	display: flex;
	height: 50px;
	left: 0;
	padding: 13.5px 0;
	position: absolute;
	top: 0;
	width: 270px;
	border-width: 1px 0 !important;
}

.text {
	color: var(--x333333);
	font-weight: 700;
	line-height: 19.6px;
	min-height: 20px;
	min-width: 70px;
	white-space: nowrap;
}

.frame {
	align-self: center;
	height: 16px;
	margin-bottom: 2.0px;
	margin-left: 182px;
	width: 16px;
}

.filter-item-1 {
	align-items: flex-start;
	display: flex;
	height: 50px;
	left: 0;
	padding: 13.5px 0;
	position: absolute;
	top: 48px;
	width: 270px;
	border-width: 0 0 1px 0 !important;
}

.filter-item-2 {
	align-items: flex-start;
	display: flex;
	height: 50px;
	left: 0;
	padding: 13.5px 0;
	position: absolute;
	top: 96px;
	width: 270px;
	border-width: 0 0 1px 0 !important;
}

.text-10 {
	color: var(--x333333);
	font-weight: 700;
	line-height: 19.6px;
	min-height: 20px;
	min-width: 28px;
	white-space: nowrap;
}

.frame-1 {
	align-self: center;
	height: 16px;
	margin-bottom: 2.0px;
	margin-left: 224px;
	width: 16px;
}

.flex-col-1 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-left: 39px;
	height: 100%;
	width: 100%;
}

.overlap-group19 {
	height: 51px;
	position: relative;
	width: 100%;
}

.text-1-1 {
	color: var(--x333333);
	font-weight: 700;
	width: 900px;
}

.col {
	align-items: center;
	justify-content: flex-end;
	display: flex;
}

.text-45 {
	color: var(--ff333f);
	font-weight: 400;
	line-height: 19.6px;
	white-space: nowrap;
	margin-right: 16px;
}

.frame-10 {
	align-items: flex-start;
	border: 1px solid var(--ff333f);
	border-radius: 4px;
	display: flex;
	height: 33px;
	min-width: 148px;
	padding: 7px;
}

.text-46 {
	color: var(--ff333f);
	font-weight: 700;
	line-height: 16.8px;
	min-height: 17px;
	white-space: nowrap;
}

.text-44 {
	color: var(--x333333);
	font-weight: 400;
	left: 0;
	line-height: 16.8px;
	position: absolute;
	top: 32px;
	white-space: nowrap;
}

.item-container-1 {
	align-items: flex-start;
	display: flex;
	height: 235px;
	margin-top: 15px;
	max-width: 900px;
}

.overlap-group {
	align-items: flex-end;
	background-color: var(--alto);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 207px;
	min-width: 207px;
	padding: 8px 0;
}

.frame-9 {
	align-items: flex-start;
	background-color: var(--black-2);
	border-radius: 0px 20px 20px 0px;
	display: flex;
	height: 32px;
	overflow: hidden;
	padding: 3px 7px;
	padding-right: 12px;
}

.price {
	color: var(--ffffff);
	font-weight: 700;
	min-height: 23px;
	min-width: 12px;
}

.text-1 {
	color: var(--ffffff);
	font-weight: 700;
	margin-left: 2px;
	min-height: 23px;
}

.text-2 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 19.6px;
	margin-top: 7px;
	min-height: 20px;
	white-space: nowrap;
}

.item {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 235px;
	width: 100%;
	margin-left: 24px;
}

.item.first {
	margin-left: 0px;
}

.item a {
	display: block !important;
}

.item-container {
	align-items: flex-start;
	display: flex;
	height: 235px;
	margin-top: 24px;
	max-width: 900px;
}

.footer {
	align-items: flex-start;
	background-color: var(--f5f5f5);
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

.footer-container {
	height: 435px;
	width: 100%;
}

.footer-top {
	align-items: center;
	display: flex;
	height: 354px;
	padding: 0 36px;
	width: 100%;
}

.footer-menu-1 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 290px;
	width: 320px;
}

.text-3 {
	color: var(--black);
	font-weight: 700;
	line-height: 21.0px;
	margin-top: -1px;
	min-height: 21px;
	white-space: nowrap;
}

.text-4 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 16px;
	min-height: 21px;
	white-space: nowrap;
}

.text-48 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-49 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-50 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-51 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.us {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.footer-menu {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-left: 24px;
	min-height: 290px;
	width: 320px;
}

.text-61 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-62 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-60 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-59 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-58 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-54 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-57 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-56 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-68 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-67 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-69 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-70 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-66 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.text-65 {
	color: var(--x333333);
	font-weight: 400;
	line-height: 21.0px;
	margin-top: 8px;
	min-height: 21px;
	white-space: nowrap;
}

.footer-bottom {
	align-items: flex-start;
	display: flex;
	height: 83px;
	padding: 25px 36px;
	width: 100%;
}

.icon-twitter {
	height: 32px;
	width: 32px;
}

.icon-facebook {
	height: 32px;
	margin-left: 16px;
	width: 32px;
}

.copyright {
	align-self: center;
	color: var(--x333333);
	font-weight: 400;
	line-height: 16.8px;
	margin-bottom: 2.0px;
	margin-left: 1209px;
	min-height: 17px;
	min-width: 79px;
	white-space: nowrap;
}