main {
	align-items: flex-start;
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 36px 64px 36px;
	width: 100%;
}

.filter {
	width: 270px;
}

.filter-heading {
	color: var(--x666666);
	white-space: nowrap;
}

.filter-clear {
	color: #0073cc;
	margin-left: 154px;
	white-space: nowrap;
}

.filter-container {
	margin-top: 16px;
	width: 270px;
}

.filter-item {
	display: flex;
	padding: 13px 0px;
	width: 270px;
	border-bottom: 1px solid #e5e5e5;
}

.filter-item.first {
	border-top: 1px solid #e5e5e5;
}

.filter-item-heading {
	color: var(--x333333);
	font-weight: 700;
	white-space: nowrap;
}

.chevron-down {
	align-self: center;
	height: 16px;
	width: 16px;
	margin-left: 182px;
}

.chevron-down.last {
	margin-left: 224px;
}

.content {
	margin-left: 40px;
	height: 100%;
	width: 100%;
}

.results-heading {
	color: var(--x333333);
}

.col {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.quantity {
	color: var(--x333333);
	white-space: nowrap;
}

.filter-select-container {
	align-items: center;
	display: flex;
}

.filter-select {
	color: var(--ff333f);
	margin-right: 16px;
}

.save-filter {
	border: 1px solid var(--ff333f);
	border-radius: 4px;
	padding: 7px;
	color: var(--ff333f);
	white-space: nowrap;
}

.item-list {
	align-items: flex-start;
	display: flex;
	margin-top: 15px;
	max-width: 900px;
	width: 100%;
}

.thumbnail {
	background-color: var(--alto);
	height: 207px;
	min-width: 207px;
	position: relative;
	overflow: hidden;
}

.thumbnail-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.price-label {
	position: absolute;
	left: 0;
	bottom: 8px;
	background-color: var(--black-2);
	border-radius: 0px 20px 20px 0px;
	display: flex;
	padding: 2px 8px;
	padding-right: 12px;
	color: var(--ffffff);
	font-weight: 700;
}

.price-value {
	margin-left: 2px;
}

.item-name {
	color: var(--x333333);
	font-weight: 400;
	line-height: 19.6px;
	margin-top: 7px;
	min-height: 20px;
	white-space: nowrap;
}

.item {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 235px;
	width: 100%;
	margin-left: 24px;
}

.item.first {
	margin-left: 0px;
}

.item a {
	display: block !important;
}

.item-container {
	align-items: flex-start;
	display: flex;
	height: 235px;
	margin-top: 24px;
	max-width: 900px;
}