header {
	align-items: center;
	background-color: var(--ffffff);
	display: flex;
	height: 64px;
	width: 100%;
	padding: 7px 20px;
	border-bottom: 1px solid #e5e5e5;
}

.search-box {
	background-color: var(--f5f5f5);
	border: 1px solid var(--cccccc);
	border-radius: 4px;
	margin-left: 24px;
	width: 100%;
	max-width: 524px;
	padding: 8px 16px;
	background-image: url(../assets/magnifying-glass-solid.svg);
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.search-box::placeholder {
	color: #757575;
}

#searchWant {
	max-width: 420px;
}

.header-menu {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-top: 4px;
	min-width: 332px;
}

.header-menu-item {
	margin-left: 16px;
}

.header-menu-item.first {
	margin-left: 0px;
}

.header-menu-item a {
	color: var(--black);
}

.sell-btn {
	align-items: flex-start;
	background-color: var(--ff333f);
	border-radius: 4px;
	display: flex;
	height: 36px;
	margin-left: 16px;
	padding: 7px 16px;
	color: var(--ffffff);
}

main {
	background-color: var(--ffffff);
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 36px 64px 36px;
	align-items: flex-start;
	display: flex;
}

.image-slider {
	padding: 14px 0;
	position: relative;
	width: 77px;
}

.slider-item {
	background-color: var(--alto);
	height: 77px;
	width: 77px;
	margin-top: 28px;
	position: relative;
	overflow: hidden;
}

.slider-item img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: auto;
}

.item-image {
	background-color: var(--alto);
	height: 592px;
	margin-left: 24px;
	width: 592px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.soldout-triangle {
	width: 0;
	height: 0;
	border-right: 160px solid transparent;
	border-top: 160px solid var(--ff333f);
	z-index: 1;
}

.sold {
	text-align: center;
	position: relative;
	width: 160px;
	top: -115px;
	left: -25px;
	color: var(--ffffff);
	font-family: var(--font-family-arial-bold);
	font-size: 36px;
	font-weight: 700;
	transform: rotate(-45.00deg);
	z-index: 2;
}

#itemImage {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: auto;
}

.content {
	margin-left: 40px;
}

.price-heading {
	align-items: center;
	display: flex;
	margin-top: 14px;
}

.price {
	align-items: flex-start;
	display: flex;
}

.price-yen,
.amount {
	color: var(--ff333f);
	font-weight: 700;
}

.price-detail {
	margin-left: 8px;
}

.like-and-comment {
	align-items: flex-start;
	display: flex;
	margin-top: 16px;
}

.like {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 4px 0;
	width: 64px;
}

.comment {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	height: 60px;
	padding: 4px 0;
	width: 64px;
}

.like-number,
.comment-text {
	margin-top: 2px;
}

.icon {
	height: 32px;
	width: 32px;
}

.soldout-btn {
	background-color: var(--cccccc);
	border-radius: 4px;
	margin-top: 16px;
	white-space: nowrap;
	padding: 12px 184px;
	color: var(--x666666);
}

.move-want-input {
	display: block;
	background-color: var(--ff333f);
	border-radius: 4px;
	cursor: pointer;
	margin-top: 16px;
	white-space: nowrap;
	padding: 12px 162px;
	color: var(--ffffff);
}

.section {
	color: var(--x666666);
	margin-top: 32px;
	margin-bottom: 16px;
	min-height: 24px;
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-xl);
	font-weight: 700;
}

#itemDescription {
	max-width: 473px;
}

.timeago {
	color: var(--x666666);
	margin-top: 16px;
}

.text-14 {
	color: var(--x666666);
	font-weight: 700;
	margin-top: -1px;
	min-height: 23px;
}

.detail-list {
	border-color: #e5e5e5;
	border-style: solid;
	border-width: 1px 0px;
	padding: 16px 0px;
}

.detail-list-item {
	align-items: center;
	display: flex;
	padding: 8px 0px;
}

.heading {
	color: var(--x333333);
}

.category-container {
	align-items: flex-start;
	display: flex;
	margin-left: 98px;
	width: 128px;
}

.chevron-right-solid {
	align-self: center;
	height: 16px;
	width: 16px;
}

.item-status {
	margin-left: 98px;
}

.item-status {
	margin-left: 98px;
}

.item-fee {
	margin-left: 82px;
}

.item-delivery {
	margin-left: 98px;
}

.item-area {
	margin-left: 82px
}

.item-days {
	margin-left: 66px;
}

footer {
	align-items: flex-start;
	background-color: var(--f5f5f5);
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

.footer-container {
	height: 435px;
	width: 100%;
}

.footer-top {
	align-items: center;
	display: flex;
	height: 354px;
	padding: 0 36px;
	width: 100%;
}

.footer-menu {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 290px;
	margin-right: 24px;
	width: 320px;
}

.footer-menu.first {
	margin-right: 0px;
}

.footer-heading {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-m);
	font-weight: 700;
}

.footer-menu-item {
	color: var(--x333333);
	margin-top: 8px;
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-m);
}

.footer-menu-item.first {
	margin-top: 16px;
}

.footer-bottom {
	align-items: flex-start;
	display: flex;
	padding: 24px 36px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

.icon-twitter {
	height: 32px;
	width: 32px;
}

.icon-facebook {
	height: 32px;
	margin-left: 16px;
	width: 32px;
}

.copyright {
	align-self: center;
	color: var(--x333333);
	margin-left: auto;
	min-width: 79px;
}