:root {
	--black: 
	rgba(0, 0, 0, 1);
	--black-2: 
	rgba(0, 0, 0, 0.4);
	--x333333: 
	rgba(51, 51, 51, 1);
	--x666666: 
	rgba(102, 102, 102, 1);
	--x757575: 
	rgba(117, 117, 117, 1);
	--x999999: 
	rgba(153, 153, 153, 1);
	--cccccc: 
	rgba(204, 204, 204, 1);
	--alto: 
	rgba(217, 217, 217, 1);
	--e4e4e4: 
	rgba(228, 228, 228, 1);
	--e5e5e5: 
	rgba(229, 229, 229, 1);
	--f5f5f5: 
	rgba(245, 245, 245, 1);
	--ff333f: 
	rgba(255, 51, 63, 1);
	--ffffff: 
	rgba(255, 255, 255, 1);
	--x0073cc: 
	rgba(0, 116, 204, 1);
	--x0095ee: 
	rgb(0, 149, 238, 1);
	
	--font-size-xxs: 10px;
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 15px;
	--font-size-l: 16px;
	--font-size-xl: 20px;
	--font-size-xxl: 24px;
	--font-size-28px: 28px;
	--font-size-xxxl: 32px;
	
	--font-family-arial-bold: "Arial-Bold";
	--font-family-arial-regular: "Arial-Regular";
}

.border-1px-e4e4e4 {
	border-width: 1px;
	border-style: solid;
	border-color: var(--e4e4e4);
}

.x10px {
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-xxs);
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
}

.x15px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-m);
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}

.x14px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-s);
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}

.x20px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-xl);
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}

.x15px {
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-m);
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
}

.border-1px-e5e5e5 {
	border-width: 1px;
	border-style: solid;
	border-color: var(--e5e5e5);
}

.x14px {
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-s);
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
}

.x28px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-28px);
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}

.x16px {
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-l);
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
}

.x24px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-xxl);
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}

.x12px {
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-xs);
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
}

.x12px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-xs);
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}

.x17px-bold {
	font-family: var(--font-family-arial-bold);
	font-size: 17px;
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
}