body {
	background-color: var(--ffffff);
}

header {
	align-items: center;
	background-color: var(--ffffff);
	display: flex;
	height: 64px;
	width: 100%;
	padding: 7px 20px;
}

.search-box {
	background-color: var(--f5f5f5);
	border: 1px solid var(--cccccc);
	border-radius: 4px;
	margin-left: 24px;
	width: 100%;
	max-width: 340px;
	padding: 8px 16px;
	background-image: url(../assets/magnifying-glass-solid.svg);
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.search-box::placeholder {
	color: #757575;
}

#searchWant {
	max-width: 420px;
}

.header-menu {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-top: 4px;
	min-width: 332px;
}

.header-menu-item {
	margin-left: 16px;
}

.header-menu-item.first {
	margin-left: 0px;
}

.header-menu-item a {
	color: var(--black);
}

.sell-btn {
	align-items: flex-start;
	background-color: var(--ff333f);
	border-radius: 4px;
	display: flex;
	height: 36px;
	margin-left: 16px;
	padding: 7px 16px;
	color: var(--ffffff);
}

.active {
	border-bottom: 3px solid var(--ff333f);
	margin-left: 48px;
	padding: 10px 24px;
	color: var(--ff333f);
}

.header-list {
	align-items: center;
	background-color: var(--ffffff);
	display: flex;
	height: 46px;
	left: 0;
	width: 100%;
	padding: 0px 140px;
	border-width: 0 0 1px 0 !important;
}

.header-list-item {
	color: var(--x666666);
	margin-bottom: 3px;
	margin-left: 48px;
}

.header-list-item.first {
	margin-left: 0px;
}

main {
	padding: 40px 36px 64px 36px;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.heading {
	display: flex;
	width: 100%;
	margin-bottom: 16px;
	color: var(--x666666);
}

.move-want-input {
	background-color: var(--ff333f);
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	height: 36px;
	margin-left: auto;
	margin-top: -13px;
	padding: 7px 16px;
	color: var(--ffffff);
}

.category {
	border-bottom: 1px solid #e5e5e5;
	padding: 24px 0px;
}

.category.first {
	border-top: 1px solid #e5e5e5;
}

.col {
	display: flex;
	align-items: center;
}

.average-price {
	margin-left: 16px;
	margin-top: 2px;
	align-items: flex-start;
	display: flex;
	height: 20px;
	min-width: 111px;
	color: #333;
}

.price-yen,
.price-value {
	margin-left: 2px;
}

.item {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	min-height: 228px;
	max-width: 200px;
	width: 100%;
	margin-left: 52px;
}

.item.first {
	margin-left: 0px;
}

.item a {
	display: block !important;
}

.thumbnail {
	align-items: flex-end;
	background-color: var(--alto);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 200px;
	min-width: 200px;
	position: relative;
}

.thumbnail-image {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.price-label {
	background-color: var(--black-2);
	border-radius: 0px 20px 20px 0px;
	display: flex;
	height: 32px;
	padding: 3px 7px;
	padding-right: 12px;
	color: var(--ffffff);
	font-weight: 700;
	margin-bottom: 8px;
}

.item-name {
	color: var(--x333333);
	margin-top: 7px;
}

footer {
	align-items: flex-start;
	background-color: var(--f5f5f5);
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

.footer-container {
	height: 435px;
	width: 100%;
}

.footer-top {
	align-items: center;
	display: flex;
	height: 354px;
	padding: 0 36px;
	width: 100%;
}

.footer-menu {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 290px;
	margin-right: 24px;
	width: 320px;
}

.footer-menu.first {
	margin-right: 0px;
}

.footer-heading {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-m);
	font-weight: 700;
}

.footer-menu-item {
	color: var(--x333333);
	margin-top: 8px;
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-m);
}

.footer-menu-item.first {
	margin-top: 16px;
}

.footer-bottom {
	align-items: flex-start;
	display: flex;
	padding: 25px 36px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

.icon-twitter {
	height: 32px;
	width: 32px;
}

.icon-facebook {
	height: 32px;
	margin-left: 16px;
	width: 32px;
}

.copyright {
	align-self: center;
	color: var(--x333333);
	margin-left: auto;
	min-width: 79px;
}