footer {
	align-items: flex-start;
	background-color: var(--f5f5f5);
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

footer .footer-container {
	height: 435px;
	width: 100%;
}

footer .footer-top {
	align-items: center;
	display: flex;
	height: 354px;
	padding: 0 36px;
	width: 100%;
}

footer .footer-menu {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 290px;
	margin-right: 24px;
	width: 320px;
}

footer .footer-menu.first {
	margin-right: 0px;
}

footer .footer-heading {
	font-family: var(--font-family-arial-bold);
	font-size: var(--font-size-m);
	font-weight: 700;
}

footer .footer-menu-item {
	color: var(--x333333);
	margin-top: 8px;
	font-family: var(--font-family-arial-regular);
	font-size: var(--font-size-m);
}

footer .footer-menu-item.first {
	margin-top: 16px;
}

footer .footer-bottom {
	align-items: flex-start;
	display: flex;
	padding: 24px 36px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

footer .icon-twitter {
	height: 32px;
	width: 32px;
}

footer .icon-facebook {
	height: 32px;
	margin-left: 16px;
	width: 32px;
}

footer .copyright {
	align-self: center;
	color: var(--x333333);
	margin-left: auto;
	min-width: 79px;
}